<h3>User New Files</h3>

<%= form_with(url: user_documents_path(@user), local: true, html: { multipart: true }) do |form| %>
  <%= form.file_field :file, multiple: true, name: 'file[]', id: 'file-input' %>
  <%= form.submit 'Upload' %>
  <p></p>
  <div id="drop-zone" data-controller="file-upload" class="border border-secondary rounded p-4">
    <p class="text-muted mb-3">Drag and drop your file(s) here</p>
    <div class="bg-light p-3 rounded" id="file-list"></div>
  </div>
<% end %>
